.blue {
  background-color: #1877f2;
  color: white;
  padding: 0.75rem;
  border: none;
  font-weight: bold;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
}

.blue:hover {
  background-color: #155ed8;
}

.green {
  background-color: #42b72a;
  color: white;
  padding: 0.75rem;
  border: none;
  font-weight: bold;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
}

.green:hover {
  background-color: #36a420;
}
